
#title{
    background-color:white;
    color:#03674a;
    
}
.container-fluid{
    padding:1% 10% 18%;
    background: url("images/bg.png");
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: whitesmoke;
}
/*navbar*/
.navbar{
    padding:0 0 15%;
}

.nav-item{
    padding:0 45px;
}
.nav-link{
    font-size:1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.learnnav{
    color:black !important; 
}
.productnav{
    color:black !important ;

}
.contactnav{
    color:white !important;
}
.nav-link:hover{
    color:#5bc41b !important;
}
.navbar-brand{
    font-size:2.5rem;
    font-family:'Pacifico', cursive;
    color:#5bc41b !important;
}
/*body*/
.btw{
    padding:0 0 1% 1%;
    color:#272727;
    font-family: 'League Spartan' , sans-serif;
}
h1{
    font-family:'League Spartan', sans-serif;
    line-height:1.5;
    font-size:3.5rem;
}
.download-btn{
    border-radius: 100px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    background-color:#5bc41b;
    color:white;
}
.contact-btn{
    border:0px;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 30px;
    background-color: #5bc41b;
    color:white;
    justify-content: center;
    height: auto;
    width: 150px;
}
.contact-btn:hover{
    background-color: #03674a;
}
.download-btn:hover{
    color:white;
    background-color: #03674a;
}
.learnmore{
    font-family: 'Poppins',sans-serif;
    padding:0 0 0 2%;
    color:#272727;
    font-weight:bold;
    text-decoration: none;

}
.learnmore:hover{
    text-decoration: none;
    color:#5bc41b;
}

/*features*/

#features{
    padding:7% 15%;
    position: relative;
    background-color: #272727;
}
.feature-box{
    text-align: center;
    padding:5%;
}
.icon{
    color:#5bc41b;
    margin-bottom:1rem;
}
.icon:hover{
    color:#cbddd1;
}
h3{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color:white;
}
p{
    color:whitesmoke;
}

/*testimonials*/
#testimonials{
    padding:7% 15%;
    text-align:center;
    background-color: #cbddd1;
    color:#272727;
    font-family: 'Poppins', sans-serif;

}
.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}
/*about us*/
.about-us{
    background-color: #cbddd1;
    text-align: center;
    padding:7% 15%;

}

.home{
    color: black; width: 80%; text-align: center; margin: 5px auto auto auto;
    font-family: 'Poppins', sans-serif;
    


}
.home-head{
    font-weight: bold;
    color:#03674a;
    width: 50%; 
    text-align: center;
    margin: 0 auto auto auto;
}
.pacifico{
    font-family:'Pacifico', cursive;
    color: #5bc41b;
    font-weight: lighter;
}
.about-head{
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0;
    margin-top: 5px;
}
.home1{
    color: black; width: 80%; text-align: center; margin: auto;
    font-family:'Poppins',sans-serif;
}
.join-us{
    font-family: 'League Spartan', sans-serif;
    margin-bottom: auto;
}

.home2{
    color: black; width: 80%; text-align: center; margin: auto; 
    font-family: 'Poppins', sans-serif;
}
.our-vis{
    font-family: 'League Spartan', sans-serif;
}
.about-us>h2{
    font-family: 'League Spartan', sans-serif;
    color:#272727;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.about-us>p{
    font-family: 'Poppins', sans-serif;
    color:#03674a;
}

.cbtn{
    text-align: end;
}
/*footer*/

#footer{
    padding:4% 15%;
    text-align:center;
    background-color: #272727;
    color:white;

}
.scl-icn{
    padding:20px 15px;
    color:whitesmoke;
}
.scl-icn:hover{
    color:#5bc41b;
}
.cpy{
    font-size: small;
}